/* Colors - BEGIN */

.blue {
    color: #3289C8;
}

.yellow {
    color: #f39c12;
}

.red {
    color: #e74c3c;
}

.green {
    color: #5cb85c;
}

.light-grey {
    color: #aaaaaa;
}

/* Colors - END */
