body {  
    background-color: #f3f3f3;
    color: #555555;
}

footer {
    background-color: #5cb85c;
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 40px;
    padding-top: 20px;
    min-height: 80px;
}

.box {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.object-box header > h2 {
    font-size: 2em;
    margin-bottom: 0;
}

.object-box header > .object-last-updated {
    font-style: italic;
}

.object-box p {
    text-align: justify;
}

.object-actions-button-container {
    margin-top: 20px;
}

.panel-box header > h2 {
    border-bottom: 1px solid #eeeeee;
    color: #aaaaaa;
    font-size: 1em;
    padding-bottom: 10px;
}
